# Generate VAPID keys with: npx web-push generate-vapid-keys
VAPID_PUBLIC_KEY=BFbrbVXqzfNRC2KbE2oWemY8mOCrdhRFg-UqzbCPBQKWS-ixYahv9pZQ5qHoiL_3YNdgJCxMJNtibHfUE1sxNAo
VAPID_PRIVATE_KEY=znWdSecXgy7VGioxBWFpDk2qk1H3WzZTP2PwgA7HYE8
VAPID_SUBJECT=mailto:brianlacet@gmail.com
